{% extends "base_generic.html" %}

{% block style %}
<meta name="keywords" content="cash payment, lawbreaing" />
<meta http-equiv="refresh" content="900;url={% url 'lawbreakers-frontpage' %}">
<script src="{% static 'OpenLayers.min.js' %}"></script>
<script type="text/javascript">
var map;
function init(){
    map = new OpenLayers.Map({
        div: "map",
        layers: [
            new OpenLayers.Layer.OSM(),
            new OpenLayers.Layer.Vector("GeoJSON", {
		projection : new OpenLayers.Projection("EPSG:4326"),
		strategies : [ new OpenLayers.Strategy.Fixed() ],
		protocol : new OpenLayers.Protocol.HTTP({
			url : "{% url 'lawbreakers-geojson' %}",
			format : new OpenLayers.Format.GeoJSON()
		}),
                eventListeners: {
                    "featuresadded": function() {
                        this.map.zoomToExtent(this.getDataExtent());
                    }
                }
            })
        ]
    });
}
</script>
{% endblock %}
{% block bodyattr %} onload="init()" {% endblock %}
{% block content %}

{% url 'registration_register' as registration_url %}

<h1>{% blocktrans %}Welcome to {{ SITE_NAME }}{% endblocktrans %}</h1>

<p><div id="map" style="width: 60%; height: 500px;"></div></p>

{% endblock %}
